<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserList_Admin</servlet-name>
        <servlet-class>Controller.UserList_AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestList_AdminController</servlet-name>
        <servlet-class>Controller.TestList_AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfileController</servlet-name>
        <servlet-class>Controller.UserProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListQuestionController</servlet-name>
        <servlet-class>Controller.ListQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LevelDetail</servlet-name>
        <servlet-class>Controller.LevelDetail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserList_Admin</servlet-name>
        <url-pattern>/userlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestList_AdminController</servlet-name>
        <url-pattern>/testlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListQuestionController</servlet-name>
        <url-pattern>/listquestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LevelDetail</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
</web-app>
